link{
    color: black;
    text-decoration: none;
    font-family: Arial;
}
#link:hover{
    text-decoration: underline;
}

link2{
    color: black;
    text-decoration: none;
    font-family: Arial;
}
#link2:hover{
    text-decoration: underline;
}

link3{
    color: black;
    text-decoration: none;
    font-family: Arial;
}
#link3:hover{
    text-decoration: underline;
}

#textbox{
    border-radius: 24px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    }